* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page-container {
  display: grid;
  grid-template-rows: 75px 1fr 50px;
  min-height: 100vh;
}

/* Header */
header {
  background: mediumvioletred;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  align-items: center;
  padding: 15px;
}


header img {
  width: 40px;
}

.buttom-header {
  grid-column: 3 / 4;
}


/*  Navegação  */

main {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

nav {
  background: #f2d0e0;

}

#nav-menu a {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  text-decoration: none;
  padding: 10px;
  justify-items: center;
  color: black;
  list-style: none;
}



#nav-menu img {
  height: 40px;

}

#descricao {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}



.card-bolo img {
  width: 150px;
}

.card-bolo {
  margin: 15px;
  box-shadow: 10px 5px 5px silver;
}

/* Footer */

footer {
  background: mediumvioletred;
  display: grid;
  justify-items: center;
  align-items: center;
}